{%  extends "WebApp/inicio.html" %}

    {% block contenido_cambia %}
       <h1>Bienvenido a la pagina de Cursos</h1>
        <h2>Añadir Curso</h2>
        <form action="{% url "WebAppCrearCurso" %}" method="post">
            {%  csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Añadir Curso">
        </form>
        <h2>Buscar Curso</h2>
        <form action="{% url "WebAppBuscarCurso" %}">
            {{ form_buscar.as_p }}
            <input type="submit" value="Buscar Curso">
        </form>


    {%  endblock %}